name: Build and push to staging GCR

on:
  workflow_call:
    secrets:
      SENTRY_DSN:
        required: false
      PROJECT_ID:
        required: true
      WORKLOAD_IDENTITY_PROVIDER:
        required: true
      REGISTRY_REPO_NAME:
        required: true
      SERVICE_ACCOUNT:
        required: true

    inputs:
      branch_name:
        default: main
        required: true
        type: string
      env:
        required: true
        type: string
      envUrl:
        required: false
        type: string
      frontend_base_path:
        required: false
        type: string
      backend_base_path:
        required: false
        type: string

env:
  GOOGLE_CLOUD_LOCATION: us-central1
  IMAGE_NAME: lending-portal-backend_${{ github.run_id }}
  GCR_REGISTRY: us-central1-docker.pkg.dev
  K8S_NAMESPACE: lending-portal-staging

jobs:
  setup:
    name: Build and Push Image to GCR
    runs-on: ubuntu-latest
    environment:
      name: cluster
      url: ${{ inputs.envUrl }}

    permissions:
      contents: 'read'
      id-token: 'write'

    steps:
      - name: Log workflow inputs
        run: |
          echo "branch_name=${{ inputs.branch_name }}"
          echo "env=${{ inputs.env }}"

      - name: Checkout
        uses: actions/checkout@v3

      - name: Set environment variables
        run: |
          echo "IMAGE=$GCR_REGISTRY/${{ secrets.PROJECT_ID }}/${{ secrets.REGISTRY_REPO_NAME }}/$IMAGE_NAME:${{ inputs.branch_name }}" >> $GITHUB_ENV

      - name: Check variables
        run: |
          echo 'IMAGEN: ${{ env.IMAGE }}'
          echo 'ENV GITHUB: ${{ env.GITHUB_ENV }}'

      - id: 'auth'
        name: 'Authenticate to Google Cloud'
        uses: 'google-github-actions/auth@v2'
        with:
          token_format: 'access_token'
          workload_identity_provider: ${{ secrets.WORKLOAD_IDENTITY_PROVIDER }} 
          service_account: ${{ secrets.SERVICE_ACCOUNT }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          registry: '${{ env.GCR_REGISTRY }}/'
          username: oauth2accesstoken
          password: '${{ steps.auth.outputs.access_token }}'

      - name: Build and push
        uses: docker/build-push-action@v5
        with:
          context: .
          file: ./Dockerfile.prod
          push: true
          tags: '${{ env.IMAGE }}'
          labels: ${{ steps.meta.outputs.labels }}
          cache-from: type=gha
          cache-to: type=gha,mode=max
          build-args: |
            ENVIRONMENT=${{ inputs.env }} 
            PORT=8080 .
