name: Deploy main to new staging env

on:
  workflow_dispatch:

permissions:
  id-token: write
  contents: read

jobs:
  run-unit-tests:
    if: false
    uses: ./.github/workflows/run-unit-tests.yml
  setup:
    name: Build and Push Image to GCR
    uses: ./.github/workflows/stg-build-and-push.yml
    with:
      branch_name: ${{github.head_ref||'main'}}
      env: staging
      #envUrl: "https://main.staging.planapp.com?apiRevision=${{github.head_ref||'main'}}"
      #frontend_base_path: "https://main.staging.planapp.com?apiRevision=${{github.head_ref||'main'}}"
      #backend_base_path: "https://api.staging.planapp.com/backend-staging/${{github.head_ref||'main'}}"
      #service_account: lending-portal-backend-s@plan-poc.iam.gserviceaccount.com
      service_account: ${{ vars.STG_SERVICE_ACCOUNT }}
      workload_identity_provider: ${{ vars.STG_W_IDENTITY_PROVIDER }}
      project_id: ${{ vars.STG_PROJECT_ID }}
      registry_repo_name: ${{ vars.STG_REGISTRY_REPO_NAME }}
    secrets:
      SENTRY_DSN: ${{ secrets.SENTRY_DSN }}
  deploy-api-to-google-cloud:
    uses: ./.github/workflows/stg-cloud-run.yml
    needs: [setup]
    with:
      branch_name: ${{github.head_ref||'main'}}
      env: staging
      #envUrl: "https://main.staging.planapp.com?apiRevision=${{github.head_ref||'main'}}"
      #frontend_base_path: "https://main.staging.planapp.com?apiRevision=${{github.head_ref||'main'}}"
      #backend_base_path: "https://api.staging.planapp.com/backend-staging/${{github.head_ref||'main'}}"
      #service_account: lending-portal-backend-s@plan-poc.iam.gserviceaccount.com
      service_account: ${{ vars.STG_SERVICE_ACCOUNT }}
      workload_identity_provider: ${{ vars.STG_W_IDENTITY_PROVIDER }}
      project_id: ${{ vars.STG_PROJECT_ID }}
      registry_repo_name: ${{ vars.STG_REGISTRY_REPO_NAME }}
      max_instances: 1
      min_instances: 0
      deployment_name: backend
      entrypoint_cmd: ""
    secrets:
      SENTRY_DSN: ${{ secrets.SENTRY_DSN }}
  deploy-webhook-to-google-cloud:
    uses: ./.github/workflows/stg-cloud-run.yml
    needs: [setup]
    with:
      branch_name: ${{github.head_ref||'main'}}
      env: staging
      #envUrl: "https://main.staging.planapp.com?apiRevision=${{github.head_ref||'main'}}"
      #frontend_base_path: "https://main.staging.planapp.com?apiRevision=${{github.head_ref||'main'}}"
      #backend_base_path: "https://api.staging.planapp.com/backend-staging/${{github.head_ref||'main'}}"
      #service_account: lending-portal-backend-s@plan-poc.iam.gserviceaccount.com
      service_account: ${{ vars.STG_SERVICE_ACCOUNT }}
      workload_identity_provider: ${{ vars.STG_W_IDENTITY_PROVIDER }}
      project_id: ${{ vars.STG_PROJECT_ID }}
      registry_repo_name: ${{ vars.STG_REGISTRY_REPO_NAME }}
      max_instances: 3
      min_instances: 0
      deployment_name: backend-webhook
      entrypoint_cmd: "" 
    secrets:
      SENTRY_DSN: ${{ secrets.SENTRY_DSN }}
  run-end-to-end-tests:
    if: false
    needs: [deploy-api-to-google-cloud, deploy-webhook-to-google-cloud]
    uses: ./.github/workflows/run-end-to-end-tests.yml
